@import "tailwindcss";

:root {
  --background-alt: #111111;
  --background: #0a0a0a;
  --foreground: #ededed;
  --green: #38cd02;
  --greendark: #217b00;
}

@theme inline {
  --color-background: var(--background);
  --color-background-alt: var(--background-alt);
  --color-foreground: var(--foreground);
  --color-green: var(--green);
  --color-greendark: var(--greendark);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --breakpoint-xs: 20rem;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: lato, Helvetica, sans-serif;
}

#viewer {
  display: none !important;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
